.convo-container {
  grid-area: convo;
  border: 0.2rem solid green;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: 'space-between'
}

.rec-container {
  grid-area: rec;
  border: 0.2rem solid green;
  padding: 1rem;
  display: "flex";
  flex-direction: "column";
  justify-content: 'space-between';
}

.chat-box {
  grid-area: chat;
  border: 0.2rem solid green;
  padding: 1rem;
  display: "flex";
  flex-direction: "column";
  justify-content: "space-between";
}

.main-container {
  border: 0.2rem solid green;
  padding: 1rem;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 
    "convo rec chatbox"
}

html {
  height: 100%;
  width: 100%;
}